In [2]:
from bs4 import BeautifulSoup

In [3]:
soup = BeautifulSoup(open('data/sample_doc.html'),'html.parser')

In [7]:
soup.text

'\n\n\n A sample HTML Page \n\n\nI am staying at  Mess on No. 72, Banamali Naskar Lane, Kolkata. \nSherlock  stays at 221B, Baker Street, London, UK. \nHamlet said to Horatio,   There are more things in heaven and earth, Horatio,  Than are dreamt of in your philosophy. \n A table denoting details of students\n\n\nname\nqualification\nadditional qualification\nother qualification\n\n\nGangaram\nB.Tech\nNA\nNA\n\n\nGanga\nB.A.\nNA\nNA\n\n\nRam\nB.Tech\nM.Tech\nNA\n\n\nRamlal\nB.Music\nNA\nDiploma in Music\n\n\n\n'

In [8]:
soup

<!DOCTYPE html>

<html>
<head>
<title> A sample HTML Page </title>
</head>
<body>
I am staying at <address> Mess on No. 72, Banamali Naskar Lane, Kolkata.</address> <br/>
<b>Sherlock </b> stays at <address>221B, Baker Street, London, UK.</address> <br/>
<b>Hamlet</b> said to <b>Horatio</b>, <br/> <q> There are more things in heaven and earth, Horatio, <br/> Than are dreamt of in your philosophy. </q>
<h1> A table denoting details of students</h1>
<table>
<tr>
<th>name</th>
<th>qualification</th>
<th>additional qualification</th>
<th>other qualification</th>
</tr>
<tr>
<td>Gangaram</td>
<td>B.Tech</td>
<td>NA</td>
<td>NA</td>
</tr>
<tr>
<td>Ganga</td>
<td>B.A.</td>
<td>NA</td>
<td>NA</td>
</tr>
<tr>
<td>Ram</td>
<td>B.Tech</td>
<td>M.Tech</td>
<td>NA</td>
</tr>
<tr>
<td>Ramlal</td>
<td>B.Music</td>
<td>NA</td>
<td>Diploma in Music</td>
</tr>
</table>
</body>
</html>

In [10]:
soup.contents

['html',
 '\n',
 <html>
 <head>
 <title> A sample HTML Page </title>
 </head>
 <body>
 I am staying at <address> Mess on No. 72, Banamali Naskar Lane, Kolkata.</address> <br/>
 <b>Sherlock </b> stays at <address>221B, Baker Street, London, UK.</address> <br/>
 <b>Hamlet</b> said to <b>Horatio</b>, <br/> <q> There are more things in heaven and earth, Horatio, <br/> Than are dreamt of in your philosophy. </q>
 <h1> A table denoting details of students</h1>
 <table>
 <tr>
 <th>name</th>
 <th>qualification</th>
 <th>additional qualification</th>
 <th>other qualification</th>
 </tr>
 <tr>
 <td>Gangaram</td>
 <td>B.Tech</td>
 <td>NA</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ganga</td>
 <td>B.A.</td>
 <td>NA</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ram</td>
 <td>B.Tech</td>
 <td>M.Tech</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ramlal</td>
 <td>B.Music</td>
 <td>NA</td>
 <td>Diploma in Music</td>
 </tr>
 </table>
 </body>
 </html>]

# Look for address tag

In [11]:
soup.find('address')

In [12]:
soup.find_all('address')

[<address> Mess on No. 72, Banamali Naskar Lane, Kolkata.</address>,
 <address>221B, Baker Street, London, UK.</address>]

# Look for q tag

In [13]:
soup.find_all('q')

# Look for b tag

In [14]:
soup.find_all('b')

# Look for table tag

In [15]:
soup.find_all('table')

[<table>
 <tr>
 <th>name</th>
 <th>qualification</th>
 <th>additional qualification</th>
 <th>other qualification</th>
 </tr>
 <tr>
 <td>Gangaram</td>
 <td>B.Tech</td>
 <td>NA</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ganga</td>
 <td>B.A.</td>
 <td>NA</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ram</td>
 <td>B.Tech</td>
 <td>M.Tech</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ramlal</td>
 <td>B.Music</td>
 <td>NA</td>
 <td>Diploma in Music</td>
 </tr>
 </table>]

## Iterate through table

In [23]:
for row in soup.find('table').find_all('tr'):
    col = row.find_all('td')
    print(col)
    print('')

[]

[<td>Gangaram</td>, <td>B.Tech</td>, <td>NA</td>, <td>NA</td>]

[<td>Ganga</td>, <td>B.A.</td>, <td>NA</td>, <td>NA</td>]

[<td>Ram</td>, <td>B.Tech</td>, <td>M.Tech</td>, <td>NA</td>]

[<td>Ramlal</td>, <td>B.Music</td>, <td>NA</td>, <td>Diploma in Music</td>]