In [1]:
import pandas as pd
import re 
from nltk import word_tokenize
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [ ]:
newsgroups_data_sample = fetch_20newsgroups(subset='train')

In [3]:
newsgroups_data_sample.keys()

dict_keys(['data', 'filenames', 'target_names', 'target', 'DESCR'])

In [4]:
text = newsgroups_data_sample['data']

In [5]:
text[0]

"From: lerxst@wam.umd.edu (where's my thing)\nSubject: WHAT car is this!?\nNntp-Posting-Host: rac3.wam.umd.edu\nOrganization: University of Maryland, College Park\nLines: 15\n\n I was wondering if anyone out there could enlighten me on this car I saw\nthe other day. It was a 2-door sports car, looked to be from the late 60s/\nearly 70s. It was called a Bricklin. The doors were really small. In addition,\nthe front bumper was separate from the rest of the body. This is \nall I know. If anyone can tellme a model name, engine specs, years\nof production, where this car is made, history, or whatever info you\nhave on this funky looking car, please e-mail.\n\nThanks,\n- IL\n   ---- brought to you by your neighborhood Lerxst ----\n\n\n\n\n"

In [20]:
tokenized_corpus = [" ".join(word_tokenize(re.sub(r'([^\s\w]|_)+', ' ',sentence))) for sentence in text]

In [21]:
tokenized_corpus[0]

'From lerxst wam umd edu where s my thing Subject WHAT car is this Nntp Posting Host rac3 wam umd edu Organization University of Maryland College Park Lines 15 I was wondering if anyone out there could enlighten me on this car I saw the other day It was a 2 door sports car looked to be from the late 60s early 70s It was called a Bricklin The doors were really small In addition the front bumper was separate from the rest of the body This is all I know If anyone can tellme a model name engine specs years of production where this car is made history or whatever info you have on this funky looking car please e mail Thanks IL brought to you by your neighborhood Lerxst'

In [22]:
print('Total number of sentences are - ',len(tokenized_corpus))

Total number of sentences are -  11314

# BOW model

In [25]:
bow_model = CountVectorizer(max_features=10)
bow = bow_model.fit_transform(tokenized_corpus).todense()

In [26]:
bow.shape

(11314, 10)

In [29]:
df_bow = pd.DataFrame(bow,columns = bow_model.get_feature_names())
df_bow.head()

   and  ax  for  in  is  it  of  that  the  to
0    0   0    0   1   3   2   3     0    6   2
1    3   0    2   1   0   0   3     0    4   1
2    5   0    3   5   5   3   6     3   21   6
3    0   0    0   1   1   2   1     2    4   1
4    2   0    0   4   4   2   1     4    7   1

# Tf-IDF model

In [30]:
tfidf_model = TfidfVectorizer(max_features=10)
tfidf = tfidf_model.fit_transform(tokenized_corpus).todense()

In [31]:
tfidf.shape

(11314, 10)

In [33]:
df_tfidf = pd.DataFrame(tfidf,columns = tfidf_model.get_feature_names())
df_tfidf.head()

,and,ax,for,in,is,it,of,that,the,to
0,0.000000,0.0,0.000000,0.130458,0.425559,0.296218,0.378853,0.000000,0.713932,0.246792
1,0.492882,0.0,0.364285,0.162521,0.000000,0.000000,0.471966,0.000000,0.592932,0.153724
2,0.215983,0.0,0.143668,0.213652,0.232314,0.145535,0.248181,0.147148,0.818449,0.242504
3,0.000000,0.0,0.000000,0.189830,0.206411,0.431027,0.183757,0.435804,0.692563,0.179554
4,0.194696,0.0,0.000000,0.385191,0.418835,0.218653,0.093217,0.442153,0.614821,0.091085