In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [3]:
corpus = [
'Data Science is an overlap between Arts and Science',
'Generally, Arts graduates are right-brained and Science graduates are left-brained',
'Excelling in both Arts and Science at a time becomes difficult',
'Natural Language Processing is a part of Data Science'
]

In [4]:
for l in corpus:
    print(l)

Data Science is an overlap between Arts and Science
Generally, Arts graduates are right-brained and Science graduates are left-brained
Excelling in both Arts and Science at a time becomes difficult
Natural Language Processing is a part of Data Science

In [7]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(corpus).todense()
print(tfidf_matrix.shape) # a numpy array

(4, 26)

In [14]:
# converting numpy array to dataframe
df = pd.DataFrame(tfidf_matrix)
df.columns = tfidf.get_feature_names()
df

,an,and,are,arts,at,becomes,between,both,brained,data,...,language,left,natural,of,overlap,part,processing,right,science,time
0,0.403328,0.257439,0.000000,0.257439,0.000000,0.000000,0.403328,0.000000,0.000000,0.317989,...,0.000000,0.000000,0.000000,0.000000,0.403328,0.000000,0.000000,0.000000,0.420947,0.000000
1,0.000000,0.159139,0.498644,0.159139,0.000000,0.000000,0.000000,0.000000,0.498644,0.000000,...,0.000000,0.249322,0.000000,0.000000,0.000000,0.000000,0.000000,0.249322,0.130107,0.000000
2,0.000000,0.224449,0.000000,0.224449,0.351643,0.351643,0.000000,0.351643,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.183502,0.351643
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.308872,...,0.391765,0.000000,0.391765,0.391765,0.000000,0.391765,0.391765,0.000000,0.204439,0.000000

### For 10 most frequent terms

In [15]:
tfidf = TfidfVectorizer(max_features=10)
tfidf_matrix = tfidf.fit_transform(corpus).todense()
print(tfidf_matrix.shape)

(4, 10)

In [16]:
df = pd.DataFrame(tfidf_matrix)
df.columns = tfidf.get_feature_names()
df

,and,are,arts,brained,data,graduates,is,overlap,processing,science
0,0.313426,0.00000,0.313426,0.00000,0.387143,0.00000,0.387143,0.491042,0.000000,0.512492
1,0.176439,0.55285,0.176439,0.55285,0.000000,0.55285,0.000000,0.000000,0.000000,0.144250
2,0.612172,0.00000,0.612172,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.500491
3,0.000000,0.00000,0.000000,0.00000,0.497096,0.00000,0.497096,0.000000,0.630504,0.329023